/* tudo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* h1 */
h1 {
  color: #00a8ff;
  text-align: center;
  }
/* p */
p {
  color: black
  font-size: 35px;
  }
/* id nome*/
#nome {
  color: 9932cc;
  text-align: center;
}
